<% if object.has_tag?(:myreturn) %>
  <div class="examples">
    <p class="tag_title">Returns:</p>
    <% object.tags(:myreturn).each do |tag| %>
      <% if !tag.name.nil? %>
      <% unless tag.name.empty? %>
        <p class="example_title"><%= htmlify_line(tag.name) %></p>
      <% end %>
      <% end %>
      <pre class="example code"><code><%= html_syntax_highlight(tag.text) %></code></pre>
    <% end %>
  </div>
<% end %>
